@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lilita+One&display=swap");

/* 
font-family: 'Gentium Book Plus', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Lilita One', cursive;
 */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--ff-title: "Gentium Book Plus", serif;
	--ff-main: "Libre Baskerville", serif;
	--bg-main: linear-gradient(to left, rgb(97, 190, 221), rgb(139, 139, 212));
	--bg-read: linear-gradient(300deg, lightgreen, green);
	--bg-unread: linear-gradient(300deg, lightpink, red);
}

/* Animation */
@keyframes append-animate {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

.notransition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

/* Page Layout */
body {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr 3rem;
	font-family: var(--ff-title);
}

header {
	background: lightblue;
	display: grid;
	gap: 2rem;
	grid-template-columns: 1fr 1fr;
}

.logo {
	display: flex;
	align-items: center;
	gap: 2rem;
	font-size: 1.5rem;
	padding: 1rem;

	& img {
		width: 5rem;
		height: 5rem;
	}
}

.guide {
	display: flex;
	gap: 4rem;
	justify-content: flex-start;
	align-items: center;

	& > div {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	& .sample {
		height: 3rem;
		width: 3rem;
		border-radius: 1rem;
	}
}

/* Main content Layout */
main {
	background: var(--bg-main);
	display: flex;
	flex-direction: column;
	position: relative;

	& .book-cards-container {
		flex: 1;
	}

	& .main-title {
		padding: 1rem 0 0 1rem;
		font-size: 1.3rem;
	}
}

.book-cards-container {
	display: grid;
	padding: 1rem;
	gap: 2rem;
	grid-template-rows: repeat(auto-fill, minmax(10rem, 1fr));
	grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
}

.card {
	display: grid;
	grid-template-rows: 5fr 1fr;
	border: 1px solid black;
	border-radius: 1rem;
	animation: append-animate 0.2s ease;

	& .book-title {
		background: wheat;
		padding-block: 0.5rem;
		text-align: center;
		border-radius: 1rem 1rem 0 0;
	}
}

.card-info p {
	padding-left: 1rem;

	&:first-of-type {
		padding-top: 1rem;
	}

	&:last-child {
		padding-bottom: 1rem;
	}
}

.card-controls {
	display: grid;
	grid-template-columns: 1fr 1fr;

	& .read-status,
	.removeBtn {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		cursor: pointer;
		user-select: none;
	}

	& .read-status {
		background: rgb(198, 238, 198);
		border-bottom-left-radius: 1rem;
		transition: all 0.2s ease;
	}

	& .read-status:hover {
		background: rgb(123, 148, 123);
		font-size: larger;
		transition: all 0.2s ease;
	}

	& .removeBtn {
		background: orangered;
		border-bottom-right-radius: 1rem;
		transition: all 0.2s ease;
	}

	& .removeBtn:hover {
		background: rgb(134, 36, 0);
		font-size: larger;
		transition: all 0.2s ease;
	}
}

/* Utility Classes */

.read {
	background: var(--bg-read);
}

.unread {
	background: var(--bg-unread);
}



/* Footer */
footer {
	background: lightslategray;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 1.4rem;
}


/* Add Button */
.addBtn {
	background: rgb(198, 238, 198);
	border-radius: 50%;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 4rem;
	bottom: 4rem;
	padding: 0.5rem;
	transition: all 0.3s ease;
	z-index: 1;

	& img {
		width: 3rem;
	}
}

.addBtn.active {
	transform: rotate(45deg);
	transition: all 0.3s ease;
}
.addBtn:hover {
	scale: 1.2;
}


/* PopUp Form */
.mask {
	visibility: hidden;
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.548);
}

.popUp {
	position: absolute;
	background-color: antiquewhite;
	width: fit-content;
	height: fit-content;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2rem;
	font-size: 1.5rem;
	gap: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border: none;
	border-radius: 1rem;

	& .legend {
		font-size: 2.5rem;
		font-weight: 700;
		color: rgb(61, 166, 207);
		user-select: none;
		text-align: center;
	}

	& label {
		font-weight: 700;
	}

	& .submit {
		cursor: pointer;
		border-radius: 0.5rem;
		width: 7rem;
		height: 3.5rem;
		background: lightgreen;
		font-size: 1.1rem;
		font: inherit;
	}
}

input {
	font-size: 1.5rem;
	height: 3rem;
	padding: 1rem;
	font: inherit;

	&[type="checkbox"] {
		width: 2rem;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.checkbox {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

